<article id='<%= article.id %>' itemscope itemtype='https://schema.org/Article' data-color='<%= article.color.value %>'>

  <h2 itemprop='headline'><%= link_to article.title, article.url, itemprop: 'mainEntityOfPage' %></h2>

  <% link_to article.url, itemprop: 'image', itemscope: '', itemtype: 'http://schema.org/ImageObject' do %>
    <%= image_tag "/images/thumbnails/#{article.thumbnail_url}", itemprop: 'url', alt: "Thumbnail for #{article.title}" %>
    <meta itemprop='width' content='300'>
    <meta itemprop='height' content='187'>
  <% end %>

  <div class='article-textcontent'>
    <div itemprop='articleBody'>
      <%= markdown article.description %>
    </div>
    <footer>
      <%= partial 'modules/article-meta', locals: {article: article} %>
    </footer>
  </div>

</article>
