<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag :main %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <div id='scripts'>
      <%= javascript_include_tag :main %>
    </div>
  </body>
</html>
